<div class="main-container" >
  <div class="homepage" [ngClass] ="filter ? 'filter' : ''" >
  <img class="brand-logo" src="../assets/PARTICLE 7.png" alt="">
  <div class="bottom-details">
    <div></div>
    <div class="scroll-down"><img src="../assets/scroll.svg" alt=""></div>
    <div class="icons">
      <a href="https://www.instagram.com/particle7_esports/" target="_blank"><img class="insta_icon" src="../assets/instagram.svg" alt=""></a>
      <a href="#"><img class="discord_icon" src="../assets/discord.svg" alt=""></a>    
    </div>
  </div>
</div>
<div class="about">
  <div class="about-container">
    <div class="about-heading">
      We Manage the Elites and<br>Groom the Underdogs.
    </div>
    <span><img src="../assets/line.svg" alt=""></span>
    <p class="about-subheading">Particle 7 is an Indian Esports Organisation. We are here and we will grow to become of the greatest Esports company while fostering growth in the entire market.</p>
    <div class="features-container">
      <div class="feature-card">
        <div class="feature-icon"><img src="../assets/icon1.svg" alt=""></div>
        <div class="feature-heading">P7 Teams</div>
        <div class="feature-content">Teams that dominate global Esports - Made only of Elite Players of the game. From PUBG, DOTA 2, to COD and League of Legends, P7 teams will be everywhere - Winning. </div>
      </div>
      <div class="feature-card">
        <div class="feature-icon"><img src="../assets/icon2.svg" alt=""></div>
        <div class="feature-heading">Content Creation</div>
        <div class="feature-content">All your favorite Particle7 teams’ content in one place. Watch daily streams, follow athletes and get updates on every aspect of the game.</div>
      </div>
      <div class="feature-card">
        <div class="feature-icon"><img src="../assets/icon3.svg" alt=""></div>
        <div class="feature-heading">Talent Incubator</div>
        <div class="feature-content">Professional Gamer Management - Building Players into Icons. P7 supports players in every aspect of their gaming career.  </div>
      </div>
      <div class="feature-card">
        <div class="feature-icon"><img src="../assets/icon4.svg" alt=""></div>
        <div class="feature-heading">COACHING & TRAINING</div>
        <div class="feature-content">Grooming the next gen of players - Making underdogs into legends.
          P7 offers athletes bleeding edge training programs and technical gameplay analysis. </div>
      </div>
      <div class="feature-card">
        <div class="feature-icon"><img src="../assets/icon5.svg" alt=""></div>
        <div class="feature-heading">TOURNAMENTS & EVENTS</div>
        <div class="feature-content">P7 events will be the talk of the community. Massive Prize Pools, Diverse formats, International Communities and a multitude of games. Get there and Play!</div>
      </div>
      <div class="feature-card">
        <div class="feature-icon"><img src="../assets/icon6.svg" alt=""></div>
        <div class="feature-heading">MERCHANDISE</div>
        <div class="feature-content">Get your hands on all the gaming merch you can imagine. Clothing, Figures, Toys, and Accessories - 100% Officially Licensed Merchandise from your favorite team - Particle7.</div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-content">
    <h2 class="footer_heading">Contact Us</h2>
    <p class="footer_content">Email : shakeel@particle7.gg</p>
  </div>
</div>
</div>
<router-outlet></router-outlet>